.DS_Store
public/.DS_Store
public/images/.DS_Store
public/images/icons/.DS_Store
public/images/logos/.DS_Store
public/images/placeholders/.DS_Store
public/images/team/.DS_Store

/node_modules

.env

public/images/wireframe