extends layout 

block content
    .errorpage-wrapper
        img(src='/images/logos/preferential-name.png' alt='Logo Gira')
        h1 #{error}: Hubo un problema cargando la página
        p Intenta de nuevo más tarde o contactanos por correo si crees que esto necesita ser arreglado.