extends layout

block content
    script.
        function openSlideMenu() {
            const menu = document.getElementById('menu');
            menu.childNodes.forEach(child => child.style.display = 'block');
            menu.style.width = '350px';
            menu.style.boxShadow = '10px 0 50px 10px rgba(0, 0, 0, 0.4)';
        }
        
        function closeSlideMenu() {
            const menu = document.getElementById('menu');
            menu.childNodes.forEach(child => child.style.display = 'none');
            menu.style.width = '0px';
            menu.style.boxShadow = 'none';
        }

    .side(onclick='openSlideMenu()')
        img.side__logo(src='/images/logos/preferential-name.png' alt='Gira Logo')
        .side__icon
            .side__icon--line
            .side__icon--line
            .side__icon--line

    #menu.nav.side--home
        p.close(onclick='closeSlideMenu()') X
        a.menu__item(href='/inicio#quienes-somos') ¿QUIÉNES SOMOS?
        a.menu__item(href='/inicio#que-hacemos') ¿QUÉ HACEMOS?
        a.menu__item(href='/inicio#equipo') EL EQUIPO
        a.menu__item(href='/inicio#call-to-action') CALL TO ACTION
        a.menu__item(href='/inicio#eventos') EVENTOS
        a.menu__item(href='/inicio#galeria') GALERÍA
        //- a.menu__item(href='#') CONTACTANOS
        a.menu__item(href='/unete') ÚNETE
        a.menu__item(href='/login') LOG IN

    .outer-wrapper
        a(href='/eventos')
            h1.home-text__title.home-text__title--left EVENTOS
        hr
        
        h2.event-title ELECCIONES 2021 MEXICO
        h3.event-author LORENZO CORDOVA
        h4.event-date 22/12/2020
        p.event-text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore error qui modi eos quasi voluptatibus neque voluptates facilis! Doloremque animi odit aperiam illo, velit fugit. Est tempora voluptates quia alias?
            | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptatibus voluptates quidem architecto atque at molestiae, eos vel officiis laborum explicabo error velit perferendis repellat fugiat alias harum ullam quam.
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia architecto nihil minus at quasi quia cupiditate alias et, ipsum consequuntur, atque assumenda labore iure quidem rerum quas sunt quam sapiente.
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse facilis, vel nam accusamus, consequuntur nihil commodi vitae dolor perferendis corporis blanditiis at eum similique quasi dolore voluptas. Explicabo, praesentium quae.
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti mollitia hic dolor sapiente, saepe magni quas! Vitae adipisci suscipit ut animi fugiat quaerat impedit, ipsa sit modi provident harum sapiente.
        //- <iframe width="560" height="315"
        .event-media
            iframe.event-media__video(src="https://www.youtube.com/embed/kKwfv-2eEpc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        
        .margin--5p
        .button--aligncenter
            a.button(href='/eventos') REGRESAR
        .margin--5p