extends layout
include mixins/_nav

block content
    +nav()

    .outer-wrapper
        a(href='/eventos')
            h1.home-text__title.home-text__title--left EVENTOS
        hr
        
        h2.event-title SOMETHING NEW
        h3.event-author JOHN DOE
        h4.event-date 08/05/2021
        p.event-text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore error qui modi eos quasi voluptatibus neque voluptates facilis! Doloremque animi odit aperiam illo, velit fugit. Est tempora voluptates quia alias?
            | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptatibus voluptates quidem architecto atque at molestiae, eos vel officiis laborum explicabo error velit perferendis repellat fugiat alias harum ullam quam.
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia architecto nihil minus at quasi quia cupiditate alias et, ipsum consequuntur, atque assumenda labore iure quidem rerum quas sunt quam sapiente.
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse facilis, vel nam accusamus, consequuntur nihil commodi vitae dolor perferendis corporis blanditiis at eum similique quasi dolore voluptas. Explicabo, praesentium quae.
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti mollitia hic dolor sapiente, saepe magni quas! Vitae adipisci suscipit ut animi fugiat quaerat impedit, ipsa sit modi provident harum sapiente.
        
        .event-media
            .carousel.carousel--event
                .carousel__medium
                    .carousel__media.carousel__media--first
                        iframe.event-media__video(src="https://www.youtube.com/embed/kKwfv-2eEpc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                        //- img(src="/images/placeholders/peoplewalking.jpg" alt="Placeholder Image")
                    .carousel__media
                        img(src="/images/placeholders/crowd.jpg" alt="Placeholder Image")
                    .carousel__media
                        img(src="/images/home/quehacemos.jpeg" alt="Placeholder Image")
                    .carousel__media
                        img(src="/images/home/quienessomos.jpeg" alt="Placeholder Image")
                
                .carousel__navigation
                    - for(let i = 0; i < 4; i++)
                        label(for=`radio${i}` class='carousel__navigation-button')
        
        .margin--5p
        .button--aligncenter
            a.button(href='/eventos') REGRESAR
        .margin--5p
    
    script.
        document.addEventListener('DOMContentLoaded', () => {
            // Carousel Buttons Functionality
            const radioBtns = document.querySelectorAll('.carousel__navigation-button');
            const firstPage = document.querySelector('.carousel__media--first');
            radioBtns.forEach(button => {
                button.addEventListener('click', () => {
                    const clickedBtnNumber = button.htmlFor.substring(5);
                    const moveLeftBy = clickedBtnNumber * -20;
                    firstPage.style.cssText = `margin-left: ${moveLeftBy}%;`;
                    
                    // Show selected button
                    radioBtns.forEach(radioBtn => {
                        radioBtn.style.backgroundColor = '#888888';
                    });
                    button.style.backgroundColor = '#000';
                });
            });
        });