doctype html
html(lang='es')
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet' href='/stylesheets/mediaqueries.css')
        link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap' rel='stylesheet')
        link(rel='icon' type='image/png' href='/images/logos/only-logo.png')
        meta(name='viewport' content='width=device-width, initial-scale=1')
    body#opening-background
        .noscroll
            #opening-wrapper
                img#opening-logo(src='/images/logos/preferential-negative.svg' alt='Gira Logo')

                p.m-cursor--default El comienzo de una era<br>de cambio

                a.button.button--white(href='/inicio') INGRESAR