mixin nav(fade=false)
    script(src='/javascripts/nav.js')

    - const mobileClass = fade ? 'side--mobile side--mobile--hidden side--mobile--home' : 'side--mobile side--mobile--home';
    div(class=mobileClass onclick='openMobileSlideMenu()')
        .side--mobile__icon
                .side__icon--line
                .side__icon--line
                .side__icon--line
        img.side--mobile__logo(src='/images/logos/preferential-name.png' alt='Gira Logo')

    #menu--mobile.nav--mobile.side--mobile--home
        a.menu__item--mobile(href='/inicio') INICIO
        a.menu__item--mobile(href='/inicio#quienes-somos') ¿QUIÉNES SOMOS?
        a.menu__item--mobile(href='/inicio#que-hacemos') ¿QUÉ HACEMOS?
        a.menu__item--mobile(href='/inicio#equipo') EL EQUIPO
        a.menu__item--mobile(href='/inicio#call-to-action') CALL TO ACTION
        a.menu__item--mobile(href='/inicio#eventos') EVENTOS
        a.menu__item--mobile(href='/inicio#galeria') GALERÍA
        //- a.menu__item--mobile(href='#') CONTACTANOS
        a.menu__item--mobile(href='/unete') ÚNETE
        a.menu__item--mobile(href='/login') LOG IN
        p.close--mobile(onclick='closeMobileSlideMenu()') X

    - const desktopClass = fade ? 'side side--hidden side--home' : 'side side--home';
    div(class=desktopClass onclick='openSlideMenu()')
        img.side__logo(src='/images/logos/preferential-name.png' alt='Gira Logo')
        .side__icon
            .side__icon--line
            .side__icon--line
            .side__icon--line
    
    #menu.nav.side--home
        p.close(onclick='closeSlideMenu()') X
        a.menu__item(href='/inicio') INICIO
        a.menu__item(href='/inicio#quienes-somos') ¿QUIÉNES SOMOS?
        a.menu__item(href='/inicio#que-hacemos') ¿QUÉ HACEMOS?
        a.menu__item(href='/inicio#equipo') EL EQUIPO
        a.menu__item(href='/inicio#call-to-action') CALL TO ACTION
        a.menu__item(href='/inicio#eventos') EVENTOS
        a.menu__item(href='/inicio#galeria') GALERÍA
        //- a.menu__item(href='#') CONTACTANOS
        a.menu__item(href='/unete') ÚNETE
        a.menu__item(href='/login') LOG IN

    if fade
        script.
            navFade();
            setupMobileNav();