mixin nav(fade=false)
    script.
        function openSlideMenu() {
            const menu = document.getElementById('menu');
            menu.childNodes.forEach(child => child.style.display = 'block');
            menu.style.width = '350px';
            menu.style.boxShadow = '10px 0 50px 10px rgba(0, 0, 0, 0.4)';
        }
        
        function closeSlideMenu() {
            const menu = document.getElementById('menu');
            menu.childNodes.forEach(child => child.style.display = 'none');
            menu.style.width = '0px';
            menu.style.boxShadow = 'none';
        }

        function openMobileSlideMenu() {
            document.body.style.overflow = 'hidden';
            const menu = document.getElementById('menu--mobile');
            menu.childNodes.forEach(child => child.style.display = 'block');
            menu.style.height = '100vh';
        }
        
        function closeMobileSlideMenu() {
            document.body.style.overflow = 'visible';
            const menu = document.getElementById('menu--mobile');
            menu.childNodes.forEach(child => child.style.display = 'none');
            menu.style.height = '';
        }

    - const mobileClass = fade ? 'side--mobile side--mobile--hidden side--mobile--home' : 'side--mobile side--mobile--home';
    div(class=mobileClass onclick='openMobileSlideMenu()')
        .side--mobile__icon
                .side__icon--line
                .side__icon--line
                .side__icon--line
        img.side--mobile__logo(src='/images/logos/preferential-name.png' alt='Gira Logo')

    #menu--mobile.nav--mobile.side--mobile--home
        a.menu__item--mobile(href='/inicio') INICIO
        a.menu__item--mobile(href='/inicio#quienes-somos') ¿QUIÉNES SOMOS?
        a.menu__item--mobile(href='/inicio#que-hacemos') ¿QUÉ HACEMOS?
        a.menu__item--mobile(href='/inicio#equipo') EL EQUIPO
        a.menu__item--mobile(href='/inicio#call-to-action') CALL TO ACTION
        a.menu__item--mobile(href='/inicio#eventos') EVENTOS
        a.menu__item--mobile(href='/inicio#galeria') GALERÍA
        //- a.menu__item--mobile(href='#') CONTACTANOS
        a.menu__item--mobile(href='/unete') ÚNETE
        a.menu__item--mobile(href='/login') LOG IN
        p.close--mobile(onclick='closeMobileSlideMenu()') X

    - const desktopClass = fade ? 'side side--hidden side--home' : 'side side--home';
    div(class=desktopClass onclick='openSlideMenu()')
        img.side__logo(src='/images/logos/preferential-name.png' alt='Gira Logo')
        .side__icon
            .side__icon--line
            .side__icon--line
            .side__icon--line
    
    #menu.nav.side--home
        p.close(onclick='closeSlideMenu()') X
        a.menu__item(href='/inicio') INICIO
        a.menu__item(href='/inicio#quienes-somos') ¿QUIÉNES SOMOS?
        a.menu__item(href='/inicio#que-hacemos') ¿QUÉ HACEMOS?
        a.menu__item(href='/inicio#equipo') EL EQUIPO
        a.menu__item(href='/inicio#call-to-action') CALL TO ACTION
        a.menu__item(href='/inicio#eventos') EVENTOS
        a.menu__item(href='/inicio#galeria') GALERÍA
        //- a.menu__item(href='#') CONTACTANOS
        a.menu__item(href='/unete') ÚNETE
        a.menu__item(href='/login') LOG IN

    if fade
        script.
            const startFade = 380;
            const checkpoint = 700;
            window.addEventListener('scroll', () => {
                const currentScroll = window.pageYOffset;
                const side = document.querySelector('.side--hidden');
                const mobileNav = document.querySelector('.side--mobile--hidden');
                
                if(currentScroll < startFade) {
                    side.style.opacity = 0;
                    side.style.display = 'none';
                    mobileNav.style.opacity = 0;
                    mobileNav.style.display = 'none';
                    return;
                }
                side.style.display = 'block';
                mobileNav.style.display = 'flex';
                if (currentScroll <= checkpoint) {
                    var opacity = 0 + (currentScroll-startFade) / checkpoint;
                } else {
                    var opacity = 1;
                }
                side.style.opacity = opacity;
                mobileNav.style.opacity = opacity;
            });

            // Mobile Nav
            document.querySelectorAll('.menu__item--mobile').forEach(item => {
                item.addEventListener('click', () => {
                    closeMobileSlideMenu();
                });
            });