extends ../layout

block content
    .side
        img.side__logo(src='/images/logos/preferential-name.png' alt='Gira Logo' data-href='/inicio')
        .side__icon
            .side__icon--line
            .side__icon--line
            .side__icon--line
    .user-buttons
        a.button.button--wide(href='/login') LOG IN
        a.button.button--wide(href='/unete') ÚNETE
    .outer-wrapper
        h1.home-text__title.home-text__title--left ÚNETE
        form.join-form(action='' method='post')
            .grid--2
                input.join-form__input(type='text' name='first_name' placeholder='Nombre' required)
                input.join-form__input(type='text' name='last_name' placeholder='Apellido' required)
            input.join-form__input(type='email' name='email' placeholder='Correo' required)
            input.join-form__input(type='text' name='phone_number' placeholder='Telefono')
            .grid--2
                input.join-form__input(type='number' name='age' min='0' max='150' placeholder='Edad')
                select.join-form__select(name='gender' required)
                    option(value='-1' selected) Sexo
                    option(value='male') Hombre
                    option(value='female') Mujer
            input.join-form__input(type='text' name='institution' placeholder='Universidad, Trabajo o Institución')
            .margin--2
            .button--alignleft
                button.button(type='submit') Registrate
    
    script.
        document.addEventListener('DOMContentLoaded', () => {
            // Make side logo Clickable
            const sideLogo = document.querySelector('.side__logo');
            sideLogo.addEventListener('click', () => {
                const href = sideLogo.dataset.href;
                if (href) {
                    window.location.assign(href);
                }
            });
        });